body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
a:hover{color: #009688;}
nav a{text-decoration: none;}
label {cursor: pointer;}
label:hover {color: #009688;}

.boxLabirinto td{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: white;
}

.tabelaHerois{
  text-align: left;
}

.tabelaHerois input{
  width: 45px;
}

.pvsVilao {
 width: 45px; 
}

.inventario {
  position: relative;
  float: right;
  color: grey;
  cursor: pointer;
}

.jogoTorre{
  width: 300px;
}

#btnSubir{
  display: none;
  position: relative;
  float: right;
}

.inputDice{
  padding-left: 7px;
  width: 45px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid black;
  height: 34px;
  padding-top: 0px;
}

.inputText{
  border: none;
  width: 400px;
}

.inputText:hover{
  background-color: #eee;
}

.textIndent{
  padding-left: 2.5em;
  text-indent:-1.5em;
}

#btnPrint{
	text-decoration: none;
  margin-left: 15px;
}

.watermark {
  display: none;
  position: relative;
  z-index: 10;
  font-size: 11px;
}

.fa-square-o{
  cursor: pointer;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.fa-square {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  top: 0px;
}

.fa-square-o:hover, .fa-square:hover{
  color: #009688;
}

.fa-circle-o, .fa-circle {
  cursor: pointer;
  font-size: 17px;
  position: relative;
}

.fa-circle-o:hover, .fa-circle:hover{
  color: #009688;
}

.fa {
  display: unset;
}

@media print {
  @page {
  	margin: 10%;
  }
  header, #btnPrint, .hidePrint {
    display: none;
  }
  .watermark{
    display: block;
  }
  .boxPersonagemFate {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .boxNPCs {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .inputText{
    width: 165px;
  }
}